.container {
  display: flex;

  width: 100%;
}

.container h1 {
  margin-bottom: 1.25rem;
}

.container a {
  color: var(--blue-dark);
}

.container a:hover {
  text-decoration: underline;
}

.container p {
  color: var(--gray);
  font-size: 0.813rem;

  margin-bottom: 1.25rem;
}

.service {
  width: 33.33%;

  margin: 120px 30px 30px 60px;
}

.calendar {
  width: 33.33%;

  margin: 120px 30px 30px 30px;
}

.matriculation {
  width: 33.33%;

  margin: 120px 60px 30px 30px;
}
