.container {
  display: flex;

  flex-direction: column;

  width: 100%;
}

.title {
  width: auto;

  margin-top: 75px;
  margin-left: 30px;
}

.title > div {
  height: 1px;

  background-color: var(--blue);

  margin-top: 5px;
  margin-right: 30px;
}

.leftContainer {
  margin: 20px 30px 0px 30px !important;
}

.leftContainer p {
  margin-top: 30px;

  color: var(--blue-dark);

  font-weight: 600;
  font-size: 1rem;
}

.subtitle {
  margin-top: 0.625rem;
}

.subtitle p {
  color: var(--text);

  font-weight: 500;
  font-size: 0.875rem;

  margin: 0px;
  margin-left: 0.625rem;
}

.select {
  width: 200px;
}

.table {
  margin: 20px 30px 80px 30px;

  width: 100%;

  align-self: center;

  text-align: center;
}

.table tr > td:not(:first-of-type) {
  border-left: 1px solid rgba(224, 224, 224, 1);
}

.table td {
  font-family: 'Manrope', sans-serif;
}

.table th {
  font-family: 'Manrope', sans-serif;
}

.table button {
  border: none;
  background-color: rgba(0, 0, 0, 0);

  vertical-align: sub;
}

.table img {
  width: 18px;
  height: 18px;

  display: table-cell;
  vertical-align: middle;
}

.table span {
  color: var(--gray) !important;
}

.inputGrade {
  width: 35px;

  border: none;
  border-bottom: 1px solid var(--light-gray);

  text-align: center;

  background-color: transparent;
}

.table tr:last-of-type td {
  padding: 10px 8px !important;
}

.saveGrades {
  color: var(--white);

  border: none;
  border-radius: 5px;

  width: 70px;
  height: 30px;
}

.saveGrades:active {
  background-color: var(--blue) !important;
}

.saveGrades:disabled {
  cursor: auto;
}
