.container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.content {
  background: var(--white);
  padding: 16px;
  border-radius: 8px;

  width: 400px;
  height: 200px;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
